*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("../imagem/armazem.jpg");
    background-position: 50% 70%;
    color: white;
    font-family: arial;
}

input{
    display: block;
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px double black;
    font-size: 16pt;
    padding: 10px 20px;
}

div#form-body{
    border-radius: 30px;
    width: 420px;
    margin: 130px auto 0px auto;
    background-color: rgba(190, 190, 190, .6);
    border: 5px solid rgba(168, 168, 168, .6);
    
}

div#form-body h1{
    text-align: center;
    padding: 20px;
}

a{
    color: rgb(50, 50, 205, .8);
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover{
    text-decoration: underline;
}


input[type=submit]{
    background-color: rgb(50, 50, 205, .8);
    border: none;
    cursor: pointer;
}

div#sucesso{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50, 205, 50, .3);
    border: 1px solid rgb(34, 139, 34);
}

div.erro{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250, 128, 114, .3);
    border: 1px solid rgb(164, 42, 42);
}

